body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

h1 {
  text-align: center;
  padding: 60px;
}

/* Header/Main logo */
.header {
  height: 230px;
  display: flex;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 13%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Navigation Bar */
.container-nav {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #5c5c5c;
  color: white;
      height: 50px;
}

.nav-wrapper {
  display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-left: 200px;
    margin-right: 200px;    
}

.nav-left-side {
  display: flex;
    height: 100%;
}

.nav-wrapper > .nav-left-side > div {
  margin-right: 25px;
  text-transform: uppercase;
  font-size: 1rem;
}

.nav-link-wrapper {
      border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    overflow: visible;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.active-nav-link {
  border-bottom: 1px solid #abf0e9;
}

.active-nav-link a {
  color:#abf0e9 !important;
}

.nav-link-wrapper a {
  color: white;
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: color 0.5s;
}

.dropdown {
 display: flex;
    align-items: center;
    height: 100%;
}

.dropbtn {
  cursor: pointer;
}

.dropdown .dropbtn {
  font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    text-shadow: 0 0 black;
}

.dropdown-content {
  display:none;
  position: absolute;
      top: 50px;
  background-color: #f9f9f9;
      min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  text-decoration: none;
  color: black;
  text-transform: none;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #abf0e9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-right-side {
  display: flex;
}

.fa {
  margin-left: 15px;
  margin-right: 15px;
  width: 10px;
}

.nav-button-wrapper a {
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.nav-button-wrapper a:hover {
  color: #abf0e9;
}

/* Home-Content */
.content-wrapper {
  margin-top: 60px;
  margin-left: 200px;
  margin-right: 200px;
}

.content-grids-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.content-grid-wrapper {
  position: relative;
}

.grid-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 90%;
  padding: 12px;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  
}

.img-text-wrapper .subtitle {
  transition: 0.5s;
  color: transparent;
}

.image-blur {
  transition: 0.5s;
  filter: brightness(10%);
}

.img-text-wrapper:hover .subtitle p {
  font-size: 20px;
  color: #abf0e9;
}

.img-text-wrapper:hover .subtitle h2 {
  font-size: 35px;
  color: white;
  font-weight: 600;
}

/* About me */
.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
}

.profile-content-wrapper h1 {
  color: lightseagreen;
}
